
nav {
    display: flex;
    padding-right: 50%;
    background-color: beige;
    flex-wrap: wrap;
}

nav .logo, nav .nav-list {
    flex: 1 1 0;
}
nav .logo {
    max-width: 10%;
}

nav .logo img{
    max-height: 50px;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding-left: 0px;
    flex-wrap: wrap;
}
nav ul li{
    flex: 1 1 0;
    max-width: 150px;
    text-align: left;
}

nav ul li:hover{
color: grey;
}